.c-bg-primario {
    background: $orange !important;
}
.c-bg-blanco {
    background: $white !important;
}

.c-bg-violeta {
    background: $violeta !important;
}
.c-bg-manzana {
    background: $manzana !important;
}

// text

.c-text-primario {
    color: $orange !important;
}
.c-text-blanco{
    color: $white !important;
}
.c-text-negro{
    color: $black !important;
}
.c-text-gray-light{
    color: $graySuave !important;
}

.cursor-pointer {
    cursor: pointer;
}