.border-files {
    padding: 8px 10px;
    border-radius: 35px;
    width: 21rem;
    height: 4rem;
  }
  
  .color-files-normal {
      border: 2px dotted #a19a9a;
  }
  
  .color-files-error {
      border: 2px dotted #e33748;
  }
  
  .border-files-box {
    width: 17rem;
    /* height:18rem;
      background:red;*/
  }