
input.input-global {
    @include input-global-styles;
    
    &::placeholder {
        color: $borderColor;
        @include font-14-400-normal;
    }

    &[placeholder="Buscar"],
    &[placeholder="Buscar credencial"] {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5),
            inset 0px 2px 2px rgba(139, 139, 139, 0.5);
        border-radius: 20px;
        font-weight: 400;
        border: 1px solid $borderColor;
        color: $textColorOscuro;
    }
}

div.input-group{
    align-items: center !important;
}

div.input-group-prepend {
    margin-right: -1px;
    border: 1px solid $borderColor;
    padding: 7px 12px;
    height: 48px;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none !important;
    & img {
        height: 18px;
        width: 35px;
    }
}


div.shadow-preppend {
    border: 1px solid #D8D8D8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


input.lg-input {
    height: 48px !important;
    border-radius: 60px;
}

input.shadow-input {
    border: 1px solid #D8D8D8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}